<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>Amazon Book Recommendation Engine</title>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  {% block body %}{% endblock %}


  <meta charset="UTF-8">
  <meta name="description" content="A web application for E6893 big data project" />
  <meta name="keywords" content="Amazon Book Recommendation" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index">Your Book <span class="logo_colour">Recommender</span></a></h1>
          <h2>Close to your inner conner.</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="index">Home</a></li>
          <li class="selected"><a href="showsignin">Sign In</a></li>
          <li><a href="showaboutus">About Us</a></li>
        </ul>
      </div>
    </div>
    <div id="site_content">
      <div class="sidebar">
      </div>
      <div id="content">
        <!-- insert the page content here -->
        <h2 align="center" style="font-family: 'century gothic'">Amazon Book Recommender</h2>

          <form action="/signin" method="POST">

            <div class="form_settings" style="font-family: 'century gothic'">
              <p><label><b>Please Enter your Amazon UserId </b></label> <input type="text" class="form-control" placeholder="Enter Username" name="uname" required></p>
              <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="name" value="Start!" /></p>
            </div>
          </form>
      </div>
    </div>
    <div id="footer">
      Copyright &copy; Huashu Li, Yunfan Zhang, Zhuangfei Yang | HTML template from <a href="http://www.html5webtemplates.co.uk">Free CSS Templates</a>
    </div>
  </div>
</body>

</html>